/**************************
GENERAL
***************************/

body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    background-color: #E9E9E9;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}



/**************************
HEADER
***************************/

header {
    max-width: 95%;
    margin: 0 auto;
    padding: 10px 0 10px;
    width: 100%;
}

#recipeName, #recipeVitals {
    margin: 0;
    padding: 0 10px;
    text-shadow: 1px 1px 2px #000;
}

#recipeName {
    font-size: 2em;
}

#recipeVitals {
    margin-top: 10px;
}

header li {
    display: inline-block;
    font-size: .9em;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000;
    padding: 0 8px 0 4px;
    border-right: 2px solid #fff;
}

#last {
    border: none;
}



/**************************
NAVIGAGTION
***************************/

nav {
    max-width: 95%;
    margin: 0 auto;
    padding: 10px 0 10px;
    border-top: 2px solid #ccc;
    width: 100%;
}

#links {
    margin: 0;
}

#links li {
    display: inline-block;
    padding: 0 5px 0;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

#links a {
    color: #d9d9d9;
}

#links a:hover {
    color: #fff;
}

/**************************
MAIN CONTENT
***************************/

#main-content {
    max-width: 940px;
    margin: 0px auto;
    padding: 20px 5%;
}

#timer-content {
    text-shadow: 2px 2px 1px #999;
    max-width: 350px;
    margin: 0 auto 20px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 5px 3px 5px #999;
}

#current_step {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
    padding: 10px 0;
    text-shadow: none;
}

#timer {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 5px 0;
    border-top: 2px solid black;
}

#timer-buttons {
    padding-bottom: 10px;
}

#timer-buttons button {
    margin: 0 3px;
}

#mash-steps, #boil-additions {
    max-width: 500px;
    margin: 0 auto 20px;
    color: #ccc;
    text-shadow: 1px 1px 2px #000;
    border-radius: 3px;
    box-shadow: 5px 3px 5px #999;
}

#mash-steps h3, #boil-additions h3 {
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    padding: 15px 0 10px;
    border-bottom: 2px solid #ccc;
}

#mash-steps ul, #boil-additions ul {
    width: auto;
    text-align: left;
    font-weight: 400;
    padding-left: 20px;
}

#mash-steps p, #boil-additions p {
    display: inline-block;
    margin: 0 0 15px;
}



/**************************
MANUAL TIMER
***************************/

#manual-timer {
    display: none;
}



/**************************
PAGE: RECIPES
***************************/

#recipes {
    max-width: 500px;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 1.5em;
    color: #ccc;
    text-shadow: 1px 1px 2px #000;
    border-radius: 3px;
    box-shadow: 5px 3px 5px #999;
}



/**************************
PAGE: INDEX
***************************/

#page-info {
    max-width: 500px;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 1.5em;
    color: #ccc;
    text-shadow: 1px 1px 2px #000;
    border-radius: 3px;
    box-shadow: 5px 3px 5px #999;
}



/**************************
COLORS
***************************/

header, nav, #manual-timer {
    background-color: #003b6f;
    color: #d9d9d9;
}

#mash-steps,
#boil-additions,
#recipes,
#page-info {
    background-color: #003b6f;
}
