/* Global -------------*/
* {
    box-sizing: border-box;
}

body {
    width: 60%;
    background-color: tan;
    margin: auto;
    margin-top: 10px;
}

/* Links --------------*/

header,
.nav-bar {
    /*width: 95%;*/

    margin: auto;
    margin-bottom: 35px;
    background-color: deepskyblue;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
}

header {
    color: rgba(255,255,255,0.9);
    text-shadow: 5px 5px 20px black;
}

header p {
    display: inline;
}

a {
    color: white;
    font-style: bold;
    font-size: 1.25em;
    border-right: 2px solid white;
    padding-right: 20px;
    margin: 5px;
    text-shadow: 2px 2px 10px black;
    text-decoration: none;
}

/* Timer Content --------------- */

.main-content {
    text-align: center;
}

.timer-content,
.mash,
.boil {
    color: rgba(255,255,255,0.9);
    /*color: rgba(0,0,0,0.7);*/
    text-shadow: 5px 5px 20px black;
    background-color: deepskyblue;
    margin: auto;
    margin-bottom: 35px;
    width: 40%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 10px black;
}

.recipeName {
    /*display: inline;*/
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    margin-top: 0;
    font-size: 2em;
}

.recipeVitals {
    display: inline;
    text-align: right;
}

.current_step {
    font-size: 1.25em;
}


.timer {
    font-size: 4em;
}

/* Floats ----------------- */

.mash,
.boil {
    width: 45%
}

.mash {
    float: left;
    float
}

.boil {
    float: right;
}

.mash label,
.boil label {
    font-size: 1.5em;
}

/* Clear fix -------------------- */

.group:after { /* add group class to parent element of floated elements*/
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    padding-left: 10;
}

li {
    text-align: left;
    color: white;
    font-size: 1.25em;
    line-height: 1.25em;
}

/* hide the manual timer */

#myBtn,
#myModal {
    display: none;
}
















/* A Modal for Setting a Timer */
/*.modal {*/
    /*display: none;  Hidden by default */
    /*position: fixed; /* Stay in place */
    /*z-index: 1; /* Sit on top */
    /*left: 0;
    /*top: 0;
    /*width: 100%; /* Full width */
    /*height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /*-webkit-animation-name: fadeIn; /* Fade in the background */
    /*-webkit-animation-duration: 0.4s;*/
    /*animation-name: fadeIn;*/
    /*animation-duration: 0.4s*/
/*}*/

/* Modal Content */
/*.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}*/

/* The Close Button */
/*.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fefefe;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;

}*/

/* Add Animation */
/*@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}*/


/* Temporary styling for index view */
body {
    padding: 10;
    margin: 10;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.btn {
    text-align: center;
    padding-top: 20px;
}

.timer_display {
    font-size: 3em;
    font-weight: bold;
}
