{% extends "layout.html" %}
{%  block header %}<h2 class="name">Welcome!</h2>{% endblock %}
{% block content %}

<section class="wrapper">
    <div class="container">
        <h2 class="container-heading">What would you like to do?</h2>
        <ul>
        <li><p>this will be like a directory to keep track of different brews</p></li>
        <li><p>we should easily be able to see the current brew as well as
        past and future brews</p></li>
        <li><p>We may have a link to the tap board as well!</p></li>
        </ul>
    </div>
</section>
{% endblock %}
