{% extends 'layout.html' %}
{%  block header %}<h2 id="recipeName">Recipes</h2>{% endblock %}
{% block content %}
<section id="main-content">
    <form action="{{ url_for('saverecipe') }}" id="recipes" method="post">
        {% for recipe in recipes %}
        <input type="radio" name="recipe" value="{{ recipe }}"
        {% if recipes['recipes'] == recipe %}checked{% endif %}>{{ recipe }}<br>
        {% endfor %}
        <br><br>
        <input type="submit" value="Brew It!">
    </form>
</section>
{% endblock %}
