{% extends 'layout.html' %}
{% block title %}{{ super() }} | Details{% endblock %}
{%  block header %}<h2 class="name">Recipe Data</h2>{% endblock %}
{% block content %}
<main class="wrapper">
    <form action="/timer">
        <section class="container">
            <h3 class="container-heading">
                23.5 quarts liqour to 165 &deg;
            </h3>
            <ul>
                <li>Other data here?</li>
            </ul>
        </section>
        <section class="container">
            <h3 class="container-heading">pH</h3>
            <ul class="ph">
                <li>Strike pH: 5.7</li>
                <li>Sparge pH: 5.7</li>
                <li>Mash pH: 5.4</li>
                <li>Boil pH: 5.3</li>
            </ul>
        </section>
        <section class="container">
            <h3 class="container-heading">Pre-boil</h3>
            <ul class="pre">
                <li>SG: 1.054</li>
                <!-- this shold be an input -->
                <li>Actual SG: 1.056</li>
                <li>Vol: 13.5 gal </li>
                <li>Actual Vol: 13.5 gal </li>
            </ul>
        </section>
        <section class="container">
            <h3 class="container-heading">Post Boil</h3>
            <ul class="post">
                <li>SG: 1.060</li>
                <li>Actual SG: 1.064</li>
                <li>Volume: 11 gal</li>
                <li>Actual Volume: 11 gal</li>
            </ul>
        </section>
    </form>
</main>
{% endblock %}
