{% extends 'layout.html' %}
{% block title %}{{ super() }} | Timer{% endblock %}
{% block script %}
    {% if data %}
        <script>
        if ( "{{ data['recipe_name'] }}" != localStorage['recipeName']) {
            var steps = {{ data['mash'] | tojson }};
            var boil_time = [ 'Boil', {{ data['boil_time'] }} ]; // this is just the value
            steps.push(boil_time);
            var steps = JSON.stringify(steps);
            var hop_adds = JSON.stringify({{ data['boil'] | tojson }})
            localStorage['hop_adds'] = hop_adds
            localStorage['steps'] = steps;
            localStorage['recipeName'] = "{{ data['recipe_name'] }}";
            localStorage['stepIndex'] = '0';
            localStorage['recipeLoaded'] = "true";
        }
        </script>
    {% endif %}
{% endblock %}
{% block header %}
    <h2 class="name" id="recipeName"></h2>
    <ul class="recipe-details">
        <li>Vol: {{ data['volume'] }} gal</li>
        <li>OG: {{ data['og'] }}</li>
        <li>ABV: {{ data['abv'] }}%</li>
    </ul>
{% endblock %}
<!-- nav content is included here from layout.html -->
{% block content %}
    <main class="wrapper">
        <section class="timer-container">
            <h3 class="container-heading" id="current_step"></h3>
            <h1 class="timer-display" id="timer">00:00</h1>
            <div class="timer-buttons">
                <button onclick="startTimer()" id="start">Start</button>
                <button onclick="stopTimer()" id="stop">Stop</button>
                <button onclick="resetTimer()" id="reset">Reset</button>
                <!-- this needs to be reworked!!! -->
                <!-- <button onclick="clearTimer()" id="clear">Clear</button> -->
                <button id="next">Next</button>
            </div>
        </section>
        {# list of mash steps #}
        <section class="container">
            <h3 class="container-heading">Mash Steps</h3>
            <ul>
                {% for step in range(data['mash'] | length) %}
                <li id="mash-step-{{ loop.index0 }}" class="mash-step" onclick="goToStep(this.id)">
                    {{ "{0} - {2}".format(*data['mash'][step]) }} &deg; {{ " for {1} minutes".format(*data['mash'][step]) }}
                </li>
                {% endfor %}
            </ul>
        </section>
        {# list of boil additions #}
        <section class="container">
            <h3 id="boil-adds-{{ data['mash'] | length }}" class="container-heading boil-adds" onclick="goToStep(this.id)">
                Boil - {{ data['boil_time'] }} minutes
            </h3>
            <ul>
                {% for hops in data['boil'] | sort(reverse=True) %}
                    {% for hop in data['boil'][hops] %}
                    <li>{{ "{2} minutes - add {1}oz of {0}".format(*hop) }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </section>
    </main>

    <aside class="modal" id="timer-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Set a Timer</h3>
            <input id="hr" type="number" min="0" max="90" placeholder="HH">
            <input id="mn" type="number" min="0" max="90" placeholder="MM">
            <input id="sec" type="number" min="0" max="59" placeholder="SS">
            <button type="submit" id="save" onclick="setTimer()">Save</button>
        </div>
    </aside>
{% endblock %}
{% block footer %}
    <h2 id="set-text">Set a Timer</h2>
    <script src="/static/timer.js{{ query }}"></script>
{% endblock %}
